<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="a coding monkey by accident">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enter title here!</title>
  <link rel="icon" href="/images/favicon.ico">

  <!--    css - remember to change to cdn later   -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <!--    lib js - remember to change to cdn later  -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div class="main">
